*{
    margin: 0;
    padding: 0;
}

.NavBar{
    background-color: aqua;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly
}